@*https://getbootstrap.com/docs/4.0/components/progress/*@

@model IEnumerable<Crowdfunding.Models.Project>

@if (Model.Any())
{


    <div class="row">
        @foreach (var project in Model)
        {
            <div class="col-sm-4">

                <div class="card" style="background-color:#808080; border:none;">

                    <!--clickable image-->
                    <a asp-area="KrowdSourced" asp-controller="Project" asp-action="ProjectInfo" asp-route-id="@project.ProjectId">
                        @if (project.MediaUrl != null)
                        {
                            <img src="@project.MediaUrl" class="card-img-top" alt="Creator's media, is missing!">
                        }
                        else
                        {
                            <img src="~/images/SiteImages/logo6.png" class="card-img-top" alt="...">
                        }
                    </a>

                    <!--Rest project's info-->
                    <ul class="list-group" style="background-color:#808080; border:none;">

                        <!--Title-->
                        <a asp-area="KrowdSourced" asp-controller="Project" asp-action="ProjectInfo" asp-route-id="@project.ProjectId">
                            <h5 style="text-decoration: underline; text-align: center; color: black" class="card-title project-title">
                                @project.Title
                            </h5>
                        </a>

                        <!--Dates - START & EXP -->
                        <div class="text-center">
                            <span>Created at: @project.DateCreated.ToShortDateString()</span>
                            <br />
                            <span>Expires at: @project.ExpDate.ToShortDateString()</span>
                        </div>
                        <br />

                        <!--% progress-->
                        <div class="text-center">
                            <span>
                                @if (project.CurrentMoney != 0)
                                {@(((project.CurrentMoney / project.GoalMoney) * 100).ToString("#.##")) }
                                else
                                { @((Convert.ToInt32(project.CurrentMoney)).ToString())}%
                            </span>
                            <span class="ml1 normal"> overall progress</span>
                        </div>

                        <!--NOT WORKING - BOOTSTRAP PROGRESS BARS-->
                        @if (project.CurrentMoney == 0)
                        {
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                     role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="1"
                                     style="width:0.01%">
                                    0%
                                </div>
                            </div>
                        }
                        else if (project.CurrentMoney > project.GoalMoney)
                        {
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                     role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100"
                                     @*aria-valuenow="100"*@
                                     style="width:100%">
                                    Above and Beyond!
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                     role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100"
                                     @*aria-valuenow="@project.Percentage"*@
                                     aria-valuenow="@(project.CurrentMoney/project.GoalMoney*100)%"
                                     @*style="width:@project.Percentage">*@
                                     style="width:@project.Percentage%">
                                </div>
                            </div>
                        }

                        <!--Current / Goal-->
                        <span class="proj-current-money text-center">
                            @project.CurrentMoney&euro; / @project.GoalMoney&euro; raised
                        </span>

                    </ul>
                </div>

                <br />
                <br />

            </div>
        }
    </div>
}
else
{
    <p> No Projects at this time.</p>
    <p> Stay Tuned!</p>
}